html{
    background-image: linear-gradient(lightblue,rgb(132, 132, 255)) ;
    padding:0;
    margin:0;
    margin-top:30px;
    min-height:100vh;
}

*{
    box-sizing: border-box;
}

h1{
    text-align: center;
}


.container{
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    display: grid;
    align-items: center;
    align-content: center;
    place-items: center;
    gap:20px;
    padding-bottom: 30px;
}

img:not(#ZoomedImage){
    width: 50vw;
    transition-duration: 0.4s;
    border:5px black solid;
}

img:hover{
    box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
    transition-duration: 0.4;
}

.zoomin{
    display:grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
    width: 100%;
    height: 100vh;
    position:fixed;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.75);
    visibility: hidden;
    z-index: 999;
}

.zoomin img{
    height:95%;
    max-height: 95vw;
    width:auto;
}

#topBar{
    display:grid;
    width:100%;
    height:30px;
    position:fixed;
    top:0;
    left:0;
    background-color: rgb(69, 73, 133);
    transition-duration: 0.2s;
    justify-items: center;
    align-items: end;
    grid-template-columns: auto auto auto;
    border-bottom: black 2px solid;
    border-radius: 0 0 10px 10px;
}

#topBar:hover{
    display:grid;
    height:75px;
    align-items: end;
    transition-duration: 0.4s;
}

#topBar:hover div{
    transition-duration: 0.4s;
}

#topBar div{
    transform: translateY(-2px);
    position:fixed
}

#topBar a{
    opacity:0;
    transition-duration: 0.2;
}

#topBar:hover a{
    align-self: center;
    opacity:1;
    transition-duration: 0.4s;
}

#pageNumber{
    bottom:0;
    left:0;
    position:fixed
}